/*GENERALIDADES FOOTER*/
#footer-second{
  border-top: 1px solid #DB8E00;
  background: #FFA400;
  background: -moz-linear-gradient(#FBBA00 15%, #FEB100 50%, #FFA400);
  background:  -webkit-linear-gradient(#FBBA00 15%, #FEB100 50%, #FFA400);
  background:  -o-linear-gradient(#FBBA00 15%, #FEB100 50%, #FFA400);
  background: linear-gradient(#FBBA00 15%, #FEB100 50%, #FFA400);
}
/*FOOTER MENU*/
#footer  ul li {
  list-style: none;
}
#footer ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#block-menu-footer .content > ul >  li {
padding-right: 30px;
float: left;
margin-right: 30px;
background: url(../images/separador.png) right center no-repeat;
min-width: 85px;
}
#block-menu-footer .content > ul >  li.last {
  margin-right: 0;
  background: none;
}
#block-menu-footer .content > ul >  li > a{
font-weight: 500;
text-decoration: none;
font-size: 16px;
color: #008330;
display: block;
margin-bottom: 2px;
}
#block-menu-footer .content > ul >  li.expanded > ul {
float: left;
}
#block-menu-footer .content > ul > li.expanded li {
  float: left;
  width: 33%;
}
#block-menu-footer .content > ul > li.expanded  {
  width: 300px;
}
#block-menu-footer .content > ul >  li li > a{
  color: #5F4203;
  font-size: 12px;
  text-decoration: none;
}
.logo-footer {
font-size: 0;
border-right: 1px solid #C9C9C9;
padding: 25px;
float: left;
width: 200px;
}
.logo-global {
background: url(../images/global.png) center center no-repeat;
}
.logo-bcsi {
background: url(../images/bcsi.png) center center no-repeat;
}
.logo-rainforest {
background: url(../images/alliance.png) center center no-repeat;
}
.btn-politicas {
text-align: center;
padding: 8px 0;
width: 200px;
float: right;
}
#block-info-site{
float: left;
width: 100%;
}
#footer-second .section-inner {
  padding: 25px 20px;
}
#footer-first {
  border-top: 1px solid #ffffff;
  background: #F3F3F3;
  padding: 10px;
}
#footer {
  border-top: 1px solid #CCCACA;
  margin-top: 50px;
}
#block-info-site p {
  margin: 0;
  width: 33%;
  float: left;
  color: #6D4E06;
  font-size: 12px;
}
.info-redes a, .info-redes a:hover {
color: #6D4E06;
text-decoration: none;
padding-left: 20px;
font-size: 12px;
margin: 0 5px;
}
#block-menu-footer {
overflow: hidden;
margin-bottom: 50px;
}
.info-redes {
  text-align: center;
}
.info-aguayo {
  text-align: right;
}
.ico-facebook {
  background: url(../images/ico-facebook.png) left center no-repeat;
}
.ico-twitter {
  background: url(../images/ico-twitter.png) left center no-repeat;
}