
@font-face {
  font-family: 'Conv_Museo300-Regular';
  src: url('../fonts/Museo300-Regular.eot');
  src: local('☺'), url('../fonts/Museo300-Regular.woff') format('woff'), url('../fonts/Museo300-Regular.ttf') format('truetype'), url('../fonts/Museo300-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  color: #666666;
  line-height: 1.2;
}
p {
  font-size: 13px;
  color: #000;
  margin: 10px 0;
}
span {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: disc;
  font-size: 14px;
  color: #000;
}
a{
  font-size: 14px;
  color: #1fb25a;
  text-decoration: underline;
}
a:hover {
  font-size: 14px;
  color: #cc6600;
  text-decoration: underline;
}
a:active {
  font-size: 14px;
  color: #14773c;
}
h1, h2, h3, h4 {
font-weight: 200;
margin: 15px 0 15px 0;
}
h1 {
  font-family: 'Conv_Museo300-Regular', Sans-Serif;
  font-size: 40px;
  color: #1ab259;
}
h2 {
  font-family: 'Conv_Museo300-Regular', Sans-Serif;
  font-size: 26px;
  color: #14773c;
}
h3 {
  font-family: 'Conv_Museo300-Regular', Sans-Serif;
  font-size: 20px;
  color: #cc6600;
}
h4 {
  font-family: 'Conv_Museo300-Regular', Sans-Serif;
  font-size: 18px;
  color: #14773c;
}
.wrapper-select {
  background: url(../images/dd_arrow.gif) right center no-repeat #fff8e9;
  width: 100%;
  overflow: hidden;
  display: block;
 }
 label {
font-style: italic;
font-size: 14px;
margin-right: 5px;
}
select {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #999999;
    display: block;
    font-size: 11px;
    font-style: italic;
    height: 27px;
    padding: 4% 0 4% 4%;
    width: 112%;
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
input[type="text"], input[type="email"] {
color: #999;
font-style: italic;
font-size: 11px;
padding: 6px 4%;
border: none;
background-color: #fff8e9;
width: 92%;
}
textarea {
  font-family: 'PT Sans', sans-serif;
  width: 95%;
  color: #999;
  font-style: italic;
  font-size: 13px;
  padding: 7px 7px 0px 10px;
  border: none;
  background-color: #fff8e9;
  height: 60px;
}
input[type="submit"], input[type="submit"]:visited, .btn-orange {
background: url(../images/back-btn-generic.jpg) 0px 0px repeat-x #FEA50D;
padding: 6px 15px;
color: #FFFFFF;
font-size: 13px;
text-decoration: none;
border-radius: 7px;
cursor: pointer;
display: inline-block;
border: 1px solid #FFA700;
*display: inline;
*zoom:1;
}
input[type="submit"]:hover, .btn-orange:hover {
  background: url(../images/back-btn-generic-hover.jpg) 0px 0px repeat-x #FCA20D;
    color: #FFFFFF;
  font-size: 13px;
  text-decoration: none;
}

input:focus, textarea:focus {
  outline: solid #f8ba25 1px;
}
.form-item, .form-actions {
  margin: 5px 0;
}
