/***** slide****/
#block-slide-home #slideshow {
margin-bottom: 40px;
min-height: 285px;
}
#block-slide-home .content-slide{
position: absolute;
width: 53%;
top: 0;
left: 0;
}
#block-slide-home .content-slide p {
color: #767676;
font-size: 17px;
}
.content-slide  h1 {
margin: 20px 0 0 0;
line-height: 1;
}
#nav-slide  {
z-index: 10;
position: relative;
}
#nav-slide a  {
background: #9A9A9A;
font-size: 0;
width: 8px;
height: 8px;
border-radius: 5px;
display: inline-block;
margin: 5px 3px;
*display: inline-block;
*zoom:1;
}
#nav-slide a.active, #nav-slide a:hover {
	background: #FB9D00;
}

#block-carrousel.block .viewport {
	width: 892px;
}
#block-carrousel .overview,
#block-carrousel156x104 .overview,
#block-carrousel132x173 .overview {
	margin: 0;
	padding: 0;
}
/*** carrousel***/
#block-carrousel.block .overview li {
	height: 80px;
	border: 0;
	width: 85px;
	list-style: none;
	position: relative;
}
#block-carrousel.block .overview li:hover span {
	  background: url(../images/hover-carrousel.png) 0px 0px repeat;
	  width: 85px;
	  height: 77px;
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
}
#block-carrousel.block .buttons, .buttons, .buttons:hover {
	width: 23px;
	height: 58px;
	float: left;
	font-size: 0;
}
#block-carrousel .buttons.prev, .buttons.prev  {
	  background: url(../images/left-carrousel.png) 0px 0px no-repeat;
	  margin: 10px 10px 0 0;
}
#block-carrousel .buttons.next, .buttons.next {
	  background: url(../images/right-carrousel.png) 0px 0px no-repeat;
	  margin: 10px 0 0 10px;
}
#block-carrousel {
	clear: both;
}
/****home****/
.front  h2 {
	color: #DF7C35;
	font-size: 18px;
}
.front .font-green h2 {
	color: #1ab259;
}
.columnx3 {
width: 29.1%;
margin: 1.1%;
float: left;
padding: 1%;
}
.columnx2 {
width: 45.1%;
margin: 1.1%;
float: left;
padding: 1%;
}
.text-left p {
	float: left;
	width: 46%;
	margin-top: 0;
}
.text-left img {
float: right;
border: 1px solid #E5E5E5;
}
.text-left{
	background: #FBFBFB;
  background: -moz-linear-gradient(#FFFFFF 15%, #FBFBFB 50%, #F3F3F3);
  background:  -webkit-linear-gradient(#FFFFFF 15%, #FBFBFB 50%, #F3F3F3);
  background:  -o-linear-gradient(#FFFFFF 15%, #FBFBFB 50%, #F3F3F3);
  background: linear-gradient(#FFFFFF 15%, #FBFBFB 50%, #F3F3F3);
}
.text-left a {
	clear: left;
	float: left;
}
#webform-correo-electronico {
	clear: left;
}
#webform-telefono{
	float: left;
	width: 49%;
	margin-right: 1%;
}
#webform-pais {
	float: right;
	width: 49%;
	margin-left: 1%;
}
#banner-distribuidores .content span,
#banner-proveedores .content span  {
display: block;
text-align: center;
}
#block-carrousel .items-tabs {
margin-top: -30px;
}
/**** tabs***/
.items-tabs {
	border-bottom: 3px solid #009840;
margin-bottom: 20px;
}
.items-tabs ul {
padding: 0;
margin: 0;
overflow: hidden;
text-align: center;
}
.items-tabs ul li {
	display: inline-block;
	list-style: none;
	*display: inline;
	*zoom:1;
}
.items-tabs ul li a {
background: #CDECD9;
display: block;
padding: 8px 10px 5px;
color: #666666;
text-decoration: none;
margin-right: 5px;
}
.items-tabs ul li a:hover, .items-tabs ul li a.active {
	background: url(../images/back-tab-selected.jpg) center top no-repeat;
	color: #FFF;
}
/**** resultados de busqueda***/
#webform-palabras-clave .form-item {
	width: 250px;
	float: left;
}
#sidebar-last .block{
background: #FFF9E7;
padding: 16px;
margin-bottom: 30px;
}
#sidebar-last .block h2 {
font-size: 19px;
color: #1AB259;
}
.view-results .view-row {
padding-bottom: 15px;
border-bottom: 1px solid #D7731F;
margin-bottom: 20px;
}
.view-results .view-row h2 {
	margin-bottom: 0;
}
.view-results .view-row h2 a {
	font-size: 20px;
}
/**** acordeon***/
#sidebar-last .block.acoordeon {
	background: none;
	padding: 0;
}
#sidebar-last .block.acoordeon h2 {
	color: #D5640F;
}
.items-acoordeon h3 {
	background:  url(../images/more.png) no-repeat 98% center #DCF5E6;
	display: block;
	font-family: 'PT Sans', sans-serif;
	color: #1B904D;
	cursor: pointer;
	border-left: 10px solid #00B74C;
	padding: 10px 30px;
	font-size: 14px;
}
.items-acoordeon ul li {
	list-style: none;
}
/***** paginador***/
.items-pager {
	margin: 0;
	padding: 0;
	text-align: center;
}
.items-pager li {
	list-style: none;
	display: inline-block;
	margin: 5px;
	*display: inline;
	*zoom:1;
}
.items-pager li.current-pager {
	color: #D5640F;
	font-size: 15px;
}
.items-pager li a {
	font-size: 15px;
}
/***** flp internacional****/
.item-slide {
	opacity: 0;
}
 #block-slide-flp-internacional .content-slide {
width: 54%;
float: left;
}
 #block-slide-flp-internacional img {
float: right;
}
#block-slide-flp-internacional #slideshow {
min-height: 265px;
}
#block-slide-flp-internacional #nav-slide {
	float: right;
}
#view-flpinternalcional .view-row .content {
	float: right;
	width: 60%;
}
#view-flpinternalcional .view-row img {
	float: left;
}
#view-flpinternalcional .view-row .content h2 {
	margin-top: 0;
}
#block-mision {
background: #FFF9E8;
overflow: hidden;
width: 94%;
padding: 1% 3%;
margin: 2% 0;
float: left;
}
#block-mision h2 {
color: #007F32;
font-size: 28px;
}

/**** disponibilidad***/
.view-disponibilidad .view-header {
    background: none repeat scroll 0 0 #FFF9E8;
    margin-bottom: 6px;
    overflow: hidden;
    padding: 8px 20px;
}
.item-disp {
	float: left;
	margin: 5px;
}
.disp-color {
	width: 40px;
	height: 15px;
	display: inline-block;
}
.view-disponibilidad .view-header .disp-color{
margin: 5px;
height: 10px;
}
.item-disp span {
    display: inline-table;
    font-size: 13px;
}
.disp-green {
	background: #40C533;
}
.disp-red {
	background: #D60000;
}
.disp-orange {
	background: #FABC00;
}
.disp-gray {
	background: #666666;
}
table {
    border-collapse: collapse;
    width: 100%;
    color: #333333;
}
table thead {
    background: none repeat scroll 0 0 #EDEDED;
}
th span {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 100;
    margin: 5px;
    padding: 2px 6px;
}
td {
    text-align: center;
    font-size: 13px;
}
th.disp-product span {
	background: transparent;
}
#sidebar-first h2  {
    color: #D26000;
    font-size: 20px;
}
#sidebar-first .block {
	margin-bottom: 30px;
}
#sidebar-first .block ul {
	padding: 0;
}
#sidebar-first .block li {
	color: #007F32;
	margin: 10px 0;
	list-style: disc inside none;
}
#sidebar-first .block li a  {
    text-decoration: none;
}
#sidebar-first .block li input[type="checkbox"] {
	float: right;
}
td img {
    margin: 8px 5px 0;
}
td span {
	display: block;
}
tr.even{
    background: none repeat scroll 0 0 #FFF9E8;
}
/*** productos***/
.view-productos tr.even{
    background: none;
}
.view-productos td span{
background: #EDEDED;
padding: 4px 0 2px;
margin: 5px;
color: #333333;
}
#block-slide-product #slideshow {
position: relative;
float: left;
height: 250px;
width: 485px;
}
#block-slide-product #nav-slide,
#block-slide-servicios #nav-slide,
#block-slide-exportar #nav-slide {
	float: left;
	width: 100%;
	text-align: center;
}
#block-slide-product  .buttons,
#block-slide-servicios .buttons,
#block-slide-exportar .buttons {
	margin-top: 16%;
}
.detalle-product label {
	color: #14773C;
	font-style: normal;
}
.sabor-producto.description-product label {
	 display: inline-block;
    width: 56px;
}
.sabor-producto.description-product span {
    background-color: #EBEBEB;
    display: inline-block;
    padding: 6px 2px;
    width: 110px;
}
}
/*popup*/
.pop-up {
	text-align: center;
	width: 400px;
}
.pop-up .content {
	padding: 0 10px;
}
.pop-up h2,
#block-nuestras-oficinas .items-acoordeon h3.on {
	background: #0E8847;
	background: linear-gradient(#19AF60, #0E8847);
	background: -o-linear-gradient(#19AF60, #0E8847);
	background: -moz-linear-gradient(#19AF60, #0E8847);
	background: -webkit-linear-gradient(#19AF60, #0E8847);
	background: -ms-linear-gradient(#19AF60, #0E8847);
	color: #FFF;
	padding: 5px;
}
.img-logo {
	background: url(../images/logox100.jpg) no-repeat 0 0 transparent;
	height: 46px;
	width: 100px;
}

/*block-carrousel156x104*/
#block-carrousel156x104 .content-carrousel {
	background: #F6F6F6;
	text-align: center;
	overflow: hidden;
	padding: 10px;
	width: 557px;
}
#block-carrousel156x104 .viewport { 
  float: left; 
  width: 498px; 
  height: 105px; 
  overflow: hidden; 
  position: relative; 
}
#block-carrousel156x104.block .overview li {
	float: left;
	height: 104px;
	margin: 0 10px 0 0;
	width: 156px;
	list-style: none;
	position: relative;
}
#block-carrousel156x104 .buttons.prev {
	margin: 29px 10px 0 0;
}
#block-carrousel156x104 .buttons.next {
	margin: 29px 0 0 0;
}
.lupa {
	background: url(../images/ver-mas.png) no-repeat 0 0 transparent;
	display: block;
	height: 32px;
	width: 32px;
}
#block-carrousel156x104 .lupa {
	bottom: 5px;
	position: absolute;
	right: 5px;
}
/*block132x173*/
#block-carrousel132x173 .content-carrousel {
	background: #F6F6F6;
	background: linear-gradient(bottom, #F6F6F6 18%, #FBFBFB 27%);
	background: -o-linear-gradient(bottom, #F6F6F6 18%, #FBFBFB 27%);
	background: -moz-linear-gradient(bottom, #F6F6F6 18%, #FBFBFB 27%);
	background: -webkit-linear-gradient(bottom, #F6F6F6 18%, #FBFBFB 27%);
	background: -ms-linear-gradient(bottom, #FBFBFB #F6F6F6 18%, #FBFBFB 27%);
	text-align: center;
	overflow: hidden;
	padding: 10px;
	width: 485px;
}
#block-carrousel132x173 .viewport { 
  float: left; 
  width: 425px; 
  height: 175px; 
  overflow: hidden; 
  position: relative; 
}
#block-carrousel132x173.block .overview li {
	float: left;
	height: 173px;
	margin: 0 10px 0 0;
	width: 132px;
	list-style: none;
	position: relative;
}
#block-carrousel132x173 .buttons.prev {
	margin: 70px 10px 0 0;
}
#block-carrousel132x173 .buttons.next {
	margin: 70px 0 0 0;
}
#block-carrousel132x173 .lupa {
	bottom: 5px;
	position: absolute;
	right: 10px;
}

.block-2 .view-row {
	float: left;
	width: 220px;
	margin-right: 22px;
}
.block-2 .view-row img {
	border: 3px solid #F6F6F6;
	display: block;
}
.contenido-producto {
	border: 1px solid #C9C9C9;
	overflow: hidden;
	padding: 16px 5px;
}
.detalle-product  .description-product {
	border-right: 1px solid #75A43E;
	float: left;
	min-height: 218px;
	padding: 0 7px;
	width: 180px;
}
.detalle-product  .description-product:last-child {
	border-right: 0;
}
.detalle-product  .description-product h3 {
	margin-top: 0;
}
.info-consumo-producto ul {
	margin: 0;
	padding: 0;
}
.info-consumo-producto ul li {
	background: #FFF9E7;
	float: left;
	list-style: none;
}
.info-consumo-producto ul li a {
	padding: 15px 12px;
	display: block;
}
.info-disponibilidad-producto,
.info-consumo-producto,
.info-presentaciones-producto,
.simple-block {
	clear: both;
}
.simple-block {
	overflow: hidden;
}
.info-disponibilidad-producto {
	overflow: hidden;
	 background: none repeat scroll 0 0 #FFF9E7;
	 margin: 30px 0;
}
.info-disponibilidad-producto h3 {
	background: #FFF;
	margin-top: 0;
}
.block-caractersiticas img {
	float: left;
}
.block-caractersiticas .caracteristicas-product {
	float: right;
}
.images-consumir {
	background: #F6F6F6;
}
.gray {
	background: rgb(219,219,219);
	background: linear-gradient(bottom, #F6F6F6 7%, #EDEDED 55%, #FAFAFA 77%);
	background: -o-linear-gradient(bottom, #F6F6F6 7%, #EDEDED 55%, #FAFAFA 77%);
	background: -moz-linear-gradient(bottom, #F6F6F6 7%, #EDEDED 55%, #FAFAFA 77%);
	background: -webkit-linear-gradient(bottom, #F6F6F6 7%, #EDEDED 55%, #FAFAFA 77%);
	background: -ms-linear-gradient(bottom, #F6F6F6 7%, #EDEDED 55%, #FAFAFA 77%);
}

#block-slide-servicios #slideshow,
#block-slide-exportar #slideshow {
    float: left;
    height: 312px;
    position: relative;
    width: 647px;
}
.simple-block article {
	float: left;
	margin-right: 10px;
	width: 176px;
}
/*hisotria*/
.date-history {
	background: url(../images/border-green.png) repeat-y scroll bottom center transparent;
	overflow: hidden;
	width: 583px;
}
.block-history {
	position: relative;
	float: left;
	width: 281px;
}
.block-history.row-2 {
	left: -1px;
}
.block-history span {
	display: block;
	height: 40px;
	width: 309px;
}
.block-history span.green-dark-1 {
	background: url(../images/green-dark.png) no-repeat 0 0 transparent;
}
.block-history span.green-claro-1 {
	background: url(../images/green-claro-1.png) no-repeat 0 0 transparent;
}
.block-history span.yellow-1 {
	background: url(../images/yellow-1.png) no-repeat 0 0 transparent;
}
.block-history span.yellow-2 {
	background: url(../images/yellow-2.png) no-repeat 0 0 transparent;
}
.block-history span.green-claro-2 {
	background: url(../images/green-claro-2.png) no-repeat 0 0 transparent;
}
.block-history span.green-dark-2 {
	background: url(../images/green-dark-2.png) no-repeat 0 0 transparent;
}
.block-history h3 {
	color: #FFF;
	font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    padding: 10px;
	text-transform: uppercase;
}
.block-history.row-2 h3 {
	padding: 10px 0 11px 72px;
}
.block-history .content-block-history {
	background: #F6F6F6;
	border: 1px solid #C9C9C9;
	padding: 9px;
    width: 220px;
}
.block-history.row-2 .content-block-history {
	 margin-left: 60px;
}
.date-year.inicio {
	background: #14773C;
}
.date-year {
	background: #CC6600;
	color: #FFF;
	display: inline-block;
	font-size: 12px;
	padding: 5px;
	position: relative;
	left: -10px;
}
.block-contact-product {
	width: auto;
}
.block-contact-product .gray {
	padding: 10px;
}
.block-contact-product h2 {
	font-size: 26px;
	color: #1AB259;
}
.form-product {
	 float: left;
    margin-right: 7px;
    width: 210px;
}
.block-contact-product #webform-mensaje textarea {
	height: 89px;
	width: 40%;
}
.list-products .content {
	overflow: hidden;
}
.list-products ul {
	float: left;
	margin: 0;
	padding: 0;
}
.list-products li {
	list-style: none;
	margin: 10px 0;
}
.block-contact-product .form-actions,
.block-contact-exportar .form-actions,
.block-contacto  .form-actions {
	text-align: center;
}
.carrousel-exportar {
	float: left;
}
#block-slide-exportar .texto {
	height: 316px;
}
#sidebar-last .block.block-contact-exportar {
	background: none;
	width: auto;
	padding: 0;
}
#sidebar-last .block-contact-exportar .gray {
	padding: 10px;
}

/*contacto*/
.block-contacto #webform-nombre,
.block-contacto #webform-telefono {
    float: left;
    margin-right: 1%;
    width: 49%;
}
.block-contacto #webform-correo-electronico {
	clear: none;
	 float: right;
    margin-left: 1%;
    width: 49%;
}
.block-contacto #webform-mensaje textarea {
	width: 97%;
}
.listado-1 {
	float: left;
	width: 296px;
}
.listado-1 ul {
	margin: 0;
	padding: 0;
}
.listado-1 li {
	list-style: none;
}
.listado-1.mensajes ul {
	float: left;
	margin-right: 5px;
}
.list-contacto{
	margin-bottom: 10px;
	overflow: hidden;
}
.block-contactenos {
	overflow: hidden;
}
.block-contactenos p {
 	float: left;
  width: 158px;
}
#block-nuestras-oficinas {
	float: left;
    margin-right: 50px;
    width: 415px;
}
.location-map {
	padding-top: 50px;
}
#block-nuestras-oficinas .items-acoordeon h3 {
	border-left: 0;
	margin: 2px 0;
}
#block-nuestras-oficinas .items-acoordeon h3.off  {
	background: #faa01c;
	background: linear-gradient(#faa01c, #fc940f);
	background: -o-linear-gradient(#faa01c, #fc940f);
	background: -moz-linear-gradient(#faa01c, #fc940f);
	background: -webkit-linear-gradient(#faa01c, #fc940f);
	background: -ms-linear-gradient(#faa01c, #fc940f);
	border: 1px solid #fc940f;
	color: #FFF;
	padding: 5px;
}
#block-nuestras-oficinas .items-acoordeon h3.off span {
	background: url(../images/mas.png) no-repeat scroll right 0 transparent;
	display: block;

}
#block-nuestras-oficinas .items-acoordeon h3.on .acordeon-info {
	padding: 10px;
}