#block-carrousel  {
 height: 1%; 
 overflow:hidden; 
 position: relative; 
 padding: 0 0 10px;   
}
#block-carrousel  .viewport { 
  float: left; 
  width: 780px; 
  height: 125px; 
  overflow: hidden; 
  position: relative; 
}
#block-carrousel  .buttons { 
  background:url("../images/buttons.png") no-repeat scroll 0 0 transparent;
   display: block; 
   margin: 30px 10px 0 0; 
   background-position: 0 -38px; 
   text-indent: -999em; 
   float: left; 
   width: 39px; 
   height: 37px; 
   overflow: hidden; 
   position: relative; 
 }
#block-carrousel  .next { 
  background-position: 0 0; 
  margin: 30px 0 0 10px; 
}
#block-carrousel  .disable { 
  visibility: hidden; 
}
#block-carrousel  .overview { 
  list-style: none; 
  position: absolute; 
  width: 240px; 
  left: 0 
  top: 0; 
}
#block-carrousel  .overview li{ 
  float: left; 
  margin: 0 20px 0 0; 
  padding: 1px; 
  height: 121px; 
  border: 1px solid #dcdcdc; 
  width: 236px;
}
                    