.section {
  margin: 0 auto;
  width: 960px;
}
.section:after , .clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#content {
  float: left;
  margin-right: -100%;
}
.no-sidebars #content {
  width: 940px;
}
.sidebar-first #content {
  padding-left: 310px;
  width: 600px;  /* LC width */
}
.sidebarlast #content {
    width: 600px;
    float: left;
}
.two-sidebars #content {
  padding-left: 310px;   /* LC width */
  padding-right: 310px;  /* RC width */
  width: 310px;
}
#sidebar-first {
  float: left;
  margin-right: -310px;
  width: 310px;          /* LC width */
}
#sidebar-last {
    float: right;
    margin-left: -310px;
    width: 310px;
}
#footer {
  clear: both;
}